name: Basic workflow for compile and test

on: [push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Compile with Maven
        run: mvn compile
      - name: Test with Maven
        run: mvn test
      - name: Code coverage with JaCoCo
        if: always()
        run: mvn jacoco:report
      - name: Publish coverage report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: shopping-list-coverage
          path: ./target/site/jacoco